In [4]:
import pymysql

f = open(r"C:\Users\saulo\OneDrive\Documents\tabla_Mm.csv", "r")
fString = f.read()

fList= []
for line in fString.split('\n'):
    fList.append(line.split(','))
    
db = pymysql.connect("localhost", "testuser", "test123", "TESTDB")

cursor = db.cursor()

cursor.execute("DROP TABLE IF EXISTS Mm")

mod_Ac = fList[0][0]; marca_Ac = fList[0][1]

queryCreateMmTable = """CREATE TABLE Mm(
                                {} varchar(25) not null,
                                {} varchar(25) not null,
                                CONSTRAINT PK_Mm PRIMARY KEY(mod_Ac, marca_Ac)
                                )""".format(mod_Ac, marca_Ac)

cursor.execute(queryCreateMmTable)

del fList[0]

rows = ''
for i in range (len(fList) -1):
    rows += "('{}', '{}')".format(fList[i][0], fList[i][1])
    if i != len(fList) -2:
        rows += ','

queryInsert = "INSERT INTO Mm VALUES" + rows

try:
    cursor.execute(queryInsert)
    db.commit()
except:
    db.rollback()

db.close()